<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="control-label col-sm-2">Producto</label>
        <div class="col-sm-10">
            <select class="form-control" id="producto" onchange="javascript:calcular();">
            <option value="10.00">Ariel</option>
            <option value="20.00">Aceite</option>
            <option value="30.00">Jabon</option>
        </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Cantidad</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" min="1" value="1" id="cantidad" onchange="javascript:calcular();">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Costo X Producto</label>
        <div class="col-sm-10">
            <input class="form-control" type="number"  value="10.0" id="totalxproducto" readonly>
        </div>
    </div>

    

    <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-default" onclick="agregar();" >Agregar</button>
      <button type="button"class="btn btn-default" onclick="javascript:nueva();">Nueva</button>
    </div>
  </div>


<div class="table-responsive" id='carrito' style='height:230px; overflow-y:auto;'>
</div>

<div class="form-group">
        <label class="control-label col-sm-2">Total de la venta</label>
        <div class="col-sm-10">
            <input class="form-control" type="number"  value="0.0" id="totalventa" readonly>
        </div>
</div>

</form>